---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="en">
<head>

  <title>404 Page not found | Web Design Cork</title>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/assets/css/main.css" />

  <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">

</head>
<body>


  <header itemscope="itemscope" itemtype="http://schema.org/WPHeader">
    <h1>Web Design Cork</h1>
  </header>

  {% include nav.html %}


  <div class="site-wrap">

    <h2>404 Page</h2>

    <p>Page Not Found</p>

    <p>Try these Links</p>

    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/service">Service</a></li>
    <li><a href="/service/seo-cork">SEO</a></li>




  </div>










  {% include footer.html %}


</body>
</html>
        