---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="en">
<head>

  <title>About Us | Web Design Cork</title>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="assets/img/favicons/favicon.ico">
  <link rel="stylesheet" href="/assets/css/main.css" />

  <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">



</head>
<body>


  <header>
    <h1>About Us</h1>
  </header>

  {% include nav.html %}


  <div class="site-wrap">

    <h2>About us</h2>

    <p>Welcome to Web Design Cork. We provide simple solutions for your web design and online marketing projects.
    Depending on what you need, we can provide a fresh new marketing campaign for your business, a fresh new website or
    a redesign and a remarketing campaign of your existing website. Online Marketing is our thing and we will make sure,
    that your business is going to be seen in the whole area around Cork. No matter if your are a local bakery 
    in West Cork or a Service Area business in Rathduff.
    <br><br>
    It also doesn't matter if you are a Freelancer, a local Business or a Start-Up, Designer and Creator.
    We love to get to know you! 
    <br><br>
    We love to get to know the history behind corks people, no matter where we have worked in the world, 
    the friendliness of the people in cork is unique. We love to enjoy corks nature, for example the Bishop Lucey Park. We love
    Corks Food which is why we love to attend the english market and of course Corks History including all the 
    nice Castles, like the Blackrock Castle.
    <br><br>
    You see we're in love with this town.</p>

    <h2>Why we Do SEO</h2>
    <p>
    Besides designing a User Interface for a Website, we also love to optimize pages for search engines. 
    In other words, we love to make the web a better place. SEO is not only finding the right Keywords. 
    The digital world is moving and so does the web. Keeping a website up to date to all the right ranking factors, 
    is something that improves the User Experience for every visitor that lands on the page.
    <br><br>
    We will make sure to indentify your right target group and to present your service in the right spot!
    <br><br>
    The best thing about our work, is to see an impressed customer by our design or by the performance 
    of our marketing efforts. 
    </p>

  

  </div>


  {% include footer.html %}



</body>
</html>
        