<nav id="main">
    <ul id="oldul">
      <li class="logo"><a href="#"><img src="/icon.png" width="70px" alt="Logo"></a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>

      <div class="dropdown">
        <a class="dropbtn" href="/service">Service</a>
        <div class="dropdown-content">
            <li><a href="/service/seo-cork">SEO</a></li>
      </div>
      </div>

      <li><a href="/contact">Contact</a></li>
    </ul>

    <div class="menu-icon" onclick="myFunction()">
      <span></span>
    </div>


    <ul id="newul" class="unshow">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>

      <div class="ser-mobile">
        <li><a href="/service">Service</a></li>
        <li><a href="/service/seo-cork">SEO</a></li>
    </div>

    </ul>


  </nav>