---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="en">
<head>

  <title>Our Web Design Services | Web Design Cork</title>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="assets/img/favicons/favicon.ico">
  <link rel="stylesheet" href="/assets/css/main.css" />

  <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">



</head>
<body>


  <header>
    <h1>Service</h1>
  </header>

  {% include nav.html %}





  <div class="site-wrap">

    
      <a href="/service/seo-cork"><h2>Search Engine Optimization</h2></a>

    <ul>

    <li>We can help finding the best outreach tools.</li>
    <li>Helping you to move a blog without losing traffic.</li>
    <li>Help with Shopify Sites</li>
    <li>Fiding the right Keyword Tools</li>
    <li>Help with changing URL's on WordPress Site</li>
    <li>Local SEO Help including Service Area Business Help</li>
    <li>Helping with Googles Data Highlighter</li>
    <li>Adding important Sections like FAQ or About Us</li>
    <li>Backlink Help, only WhiteHat SEO</li>
    <li>Checking negative impact from Hosting providers</li>

    </ul>


    <h2>Web Design</h2>

    <ul>
        <li>User Interface Design</li>
        <li>Using different web styles, for instance minimalsim, or broken grids </li>
        <li>Achieving the best effect with responive images</li>
        <li>Desiging with the right font team</li>
        <li>Web Application Help</li>
        <li>Image work like centering images in different Content Management Systems</li>
        <li>Adding the right Icons and Illustrations to your website</li>
        <li>Help with Templates (Bootstrap, Squarespace etc.)</li>
    </ul>


    <a href="/service/web-development-cork"><h2>Web Development</h2></a>

    <ul>
    <li>Coding your website including HTML5, CSS3 and Js.</li>
    <li>Adding and coding Mockups to your DIV Sections</li>
    <li>Angular, Vue or Node.js Help</li>
    <li>Helping with Databases and .htaccess files</li>
    <li>Solving 404, or any other persistent errors 504's for example.</li>
    <li>Adding custom Code to your CMS</li>
    <li>Solving .htaccess restrictions</li>
    <li>WordPress Error fixing and Plugin Help</li>
  </ul>

  </div> <!--Sitewrap-->




  {% include footer.html %}

<script src="assets/js/functions.js" type="text/javascript"></script>

</body>
</html>
        