---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="en">
<head>

  <title>Seo Cork - Search Enginge Optimization | Web Design Cork</title>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/assets/css/main.css" />


  <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">



</head>
<body>


  <header itemscope="itemscope" itemtype="http://schema.org/WPHeader">
    <h1>SEO Cork</h1>
  </header>

  {% include nav.html %}





  <div class="site-wrap">

      <div class="youtube-player" data-id="4OBEJBYiDj0" data-related="0" data-control="1" 
      data-info="1" data-fullscreen="1"> <img src="//i.ytimg.com/vi/4OBEJBYiDj0/hqdefault.jpg" 
      style="bottom: -100%; display: block; left: 0; margin: auto; 
      max-width: 100%; width: 100%;height:auto; position: absolute; 
      right: 0; top: -100%;"> <div style="height: 72px; width: 72px; 
      left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; 
      position: absolute; background: url('http://i.imgur.com/TxzC70f.png') 
      no-repeat;"></div> </div> 

    <h2>Search Engine Optimization</h2>

    <p>
    Welcome to our Search Engine Optimization Service. The first thing we would like to tell you is, why we concentrate so much energy on 
    improving your Search Rankings with SEO. Imagine if you have a product or a service or you offer something locally, like we do in Cork or 
    nationally, then it is very important that your customers can see your page, right?
    <br><br>
    Because, you can have the most wonderful website, you can have the most wonderful product, but when nobody sees your page, 
    you won’t get any conversions. Now that is a problem for your business, right?
    <br><br>
    So that is why we offer our SEO Service in Cork. The first thing we usually do, when checking a page for 
    <a href="https://en.wikipedia.org/wiki/Search_engine_optimization">SEO</a>, is we check the URL structure, we 
    check all the On-Page Factors, like Title Tags or Meta Descriptions. Meta Descriptions technically aren’t a 
    Ranking Factor, but they help to improve your Click Trough Rate. Then we check all the Service pages and your content.
    <br><br>
    Is the content about your product or service good enough, does it give enough information to your visitors. 
    Does it link to external resources that are very important, maybe some which test your service or product. Maybe this could help your customers to 
    decide, if they should buy your product.
    <br><br>
    We check all the information you have on your website, we check all the links altogether.
    Do you link from important resources to another ones on your website? (also called internal linking). 
    That is also a big User Experience Factor.
    </p>


    <br><br>
    <img src="/assets/img/cork-douglas-street.png" alt="douglas street in cork">
    <br><br>

    <h2>Rank Bran and other On-Page SEO</h2>
    <p> User Experience is something that is very important, because maybe you already know it, but 
    <a href="https://en.wikipedia.org/wiki/RankBrain">Rank Brain</a>, is one of the most important Ranking Factors, when it comes to SEO in 2018.
    On another side, User Experience, is a big factor when it comes to Rank Brain.</p>

    <img src="/assets/img/google-search-cork.png" alt="google search for cork">

    <h2>SEO for Cork</h2>

    <p> 
    That is why you should concentrate, to give your customers and visitors the most 
    wonderful experience you can give them. You need to show enough Information about 
    your product, mark your product with Schema information and also you should use 
    enough Multi Media to make sure your customers find in depth content on your site.
    Use Testimonials to built Trust, show the your local Business reviews on Google 
    and show them, they can trust your service and your product. 
    Now one of the most important things about SEO.
  </p>

    <h2>Chooing the right Keywords</h2>

    <p>
    Sometimes, I see so many people have a wonderful website or a great service, 
    with perfect On-Page and Off-Page SEO, but they are not using the right <a href="https://moz.com/learn/seo/what-are-keywords">Keywords</a>. 
    We help you to find Keywords and to use modifiers to match the Intent of your 
    website visitors. For Instance, if you are a Freelancer in Cork and you want to 
    offer local services, you should use Cork as a Keyword Modifier.
    </p>

    <h2>Technical SEO</h2>

    <p>
    We also check all the technical SEO like Sitemap files, 
    robots.txt, we check your indexing, which means, are all 
    pages indexable by search engines and more.
    </p>

    <ul>
      <li>- Check which pages are valuable for your customers</li>
      <li>- Helping with Backlinks like Edu and Gov Links</li>
      <li>- Working with Authority Pages</li>
      <li>- Optimising Organic Growth</li>
      <li>- Competing against Big Brands</li>
      <li>- Making Sure your site is mobile friendly</li>
      <li>- Optimising for Google & Bing</li>
      <li>- 301 Implementation</li>
      <li>- Helping with Total Page Counts</li>
    </ul>



  </div> <!--Sitewrap-->




  {% include footer.html %}

<script src="assets/js/functions.js" type="text/javascript"></script>

</body>
</html>
        